<section>
  <div>
    <a href="tel:+380633098578" mat-button>
      <mat-icon>call</mat-icon>
      +380633098578
    </a>
  </div>
  <div>
    <a href="https://t.me/zhooravell" mat-button target="_blank">
      <mat-icon svgIcon="telegram-icon" aria-hidden="false"></mat-icon>
      @zhooravell
    </a>
  </div>
  <div>
    <a href="skype:zhooravell?userinfo" mat-button>
      <mat-icon svgIcon="skype-icon" aria-hidden="false"></mat-icon>
      @zhooravell
    </a>
  </div>
  <div>
    <a href="mailto:zhooravell@gmail.com" mat-button>
      <mat-icon>email</mat-icon>
      zhooravell@gmail.com
    </a>
  </div>
</section>
