<toolbar></toolbar>

<!--<div class="container" fxLayout="row" fxLayoutAlign="start start">-->
<!--  <div class="nav-sidebar" fxFlex="330px">-->
<!--    <sidebar></sidebar>-->
<!--  </div>-->
<!--  <div class="main-content" fxFlex>-->
<!--    Content-->
<!--  </div>-->
<!--</div>-->

<div class="container mat-elevation-z4" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="0" fxLayoutGap.xs="0">
  <div class="item item-1" fxFlex="35%">
    <sidebar></sidebar>
  </div>
  <div class="item item-2" fxFlex="65%">
    Item 2
  </div>
</div>
